@import "utils/variables";
@import "vendors/csstools/normalize";

/* https://fontawesome.com/how-to-use/on-the-web/using-with/sass */

/* https://github.com/parcel-bundler/parcel/issues/540
use parcel bundler notation and not webpack one.
*/

@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/regular";

body {
  max-width: 1440px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

h1,
.font-shrikhand {
  font-family: 'Shrikhand', sans-serif;
}

header {
  h1 {
    height: 60px;
    margin: 0 auto 0;
  }
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

img {
  object-fit: cover;
  width: 100%;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-centered {
  align-items: center;
  justify-content: center;
}

.red-background {
  background-color: red;
}

.grey-background {
  background-color: #f6f6f6;
}

.dark-grey-background {
  background-color: #eaeaea;
}

.dark-background {
  background-color: #353535;
}

.white-font {
  color: white;
}

.card-desk > a {
  margin: 10px;
}

picture > img {
  max-height: 300px;
  background-color: red;
}

.card-desk > a > img {
  width: 100%;
  min-width: 334px;
  height: 174px;
}

.text-size-2 {
  font-size: 2em;
}

.text-size-15 {
  font-size: 1.5em;
}

.text-bold {
  font-weight: bolder;
}

.text-center {
  text-align: center;
}

.line-height-25 {
  line-height: 2.5em;
}
