@import "utils/variables";
@import "vendors/csstools/normalize";

/* https://fontawesome.com/how-to-use/on-the-web/using-with/sass */

/* https://github.com/parcel-bundler/parcel/issues/540
use parcel bundler notation and not webpack one.
*/

/*
https://youtrack.jetbrains.com/issue/WEB-26130
 */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/regular";

/* Large screen - from 992 px screen size */

@mixin large-screen {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

/* Small screen - up to 991 px screen size */

@mixin small-screen {
  @media only screen and (max-width: 991px) {
    @content;
  }
}

body {
  max-width: 1440px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

h1,
.font-shrikhand {
  font-family: 'Shrikhand', sans-serif;
}

header {
  > h1 {
    height: 2em;
    margin: 0 auto 0;
  }

  > div {
    > a {
      margin-left: 0.75em;
    }

    > h1 {
      height: 2em;
      margin: 0 auto 0;
    }

    > h2 {
      margin-left: 1em;
    }
  }
}

.main {
  &-index {
    h2 {
      margin-left: 0.75em;
    }

    h3 {
      margin-bottom: 0.25em;
      margin-left: 0.66em;
    }

    p {
      margin-top: 0.25em;
      margin-left: 0.66em;
    }
  }

  &-menu {
    h3 {
      margin-bottom: 0.25em;
      margin-left: 1em;
    }

    h4 {
      margin-bottom: 0.25em;
      margin-left: 0.66em;
    }

    p:nth-child(2) {
      margin-top: 0.25em;
      margin-left: 0.66em;
    }
  }
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  border: 0;
}

img {
  object-fit: cover;
  width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-centered {
  align-items: center;
  justify-content: center;
}

.flex-centered-vertical {
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.gap-05 {
  gap: 0.5em;
}

.gap-2 {
  gap: 2em;
}

.padding-2 {
  padding: 2em;
}

.padding-right-05 {
  padding-right: 0.5em;
}

.margin-top-2 {
  margin-top: 2em;
}

.margin-bottom-1 {
  margin-bottom: 1em;
}

.white-background {
  background-color: $colour-white;
}

.grey-background {
  background-color: $colour-light-grey;
}

.white-to-grey-background {
  @include large-screen {
    background-color: $colour-light-grey;
  }

  @include small-screen {
    background-color: $colour-white;
  }
}

.grey-to-white-background {
  @include large-screen {
    background-color: $colour-white;
  }

  @include small-screen {
    background-color: $colour-light-grey;
  }
}

.dark-grey-background {
  background-color: $colour-dark-grey;
}

.dark-background {
  background-color: $colour-dark;
}

picture {
  > img {
    max-height: 300px;
  }
}

.card-desk {
  padding-bottom: 3em;

  > a {
    margin: 1em;

    > img,
    > div > img {
      width: 100%;
      min-width: 334px;
      height: 174px;
      border-top-left-radius: 5%;
      border-top-right-radius: 5%;
    }
  }
}

.card {
  border-radius: 5%;

  &-menu {
    width: 334px;
    overflow: hidden;
    border-radius: 25px;
    opacity: 0;
    animation:
      fadeInAnimation 1s ease-in-out forwards,
      moveAnimation 1s ease-out forwards;

    @keyframes fadeInAnimation {
      to {
        opacity: 1;
      }
    }

    @include large-screen {
      @keyframes moveAnimation {
        0% {
          transform: scale(0);
        }

        100% {
          transform: scale(1);
        }
      }
    }

    @include small-screen {
      @keyframes moveAnimation {
        0% {
          margin-bottom: 50px;
        }

        100% {
          margin-bottom: 0;
        }
      }
    }

    .may-be-truncated {
      width: 289px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      transition: all 0.5s ease-in-out;
    }

    .to-translate {
      min-width: 70px;
      background-color: $colour-green;
    }

    &:hover {
      .may-be-truncated {
        width: 220px;
        transition: all 0.5s ease-in-out;
      }

      .to-translate {
        min-width: 70px;
        background-color: $colour-green;
      }

      .to-rotate {
        animation: rotateIn 0.5s ease-in-out forwards;

        @keyframes rotateIn {
          to {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}

.picture-block {
  position: relative;
}

.new-top-right {
  position: absolute;
  top: 1em;
  right: 1em;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  color: $colour-dark-green;
  background-color: $colour-green;
  border-radius: 5%;
}

.fa-heart {
  &.to-show {
    &:hover {
      font-size: 1.4em;
      color: transparent;
      cursor: pointer;
      background: linear-gradient(to bottom, $colour-purple 0%, $colour-pink 100%);

      /* https://developer.mozilla.org/fr/docs/Web/CSS/background-clip */
      /* https://compat.spec.whatwg.org/#the-webkit-background-clip-property */
      /* https://lists.w3.org/Archives/Public/www-style/2016Mar/0283.html */
      /* https://drafts.csswg.org/css-backgrounds-4/#background-clip */

      -webkit-background-clip: text;

      /* background-clip: text; */
      transition: all 0.5s ease-out;
    }
  }

  &.to-hide {
    font-size: 1.3em;
  }
}

.fa-check-circle {
  &.to-hide {
    visibility: hidden;
  }
}

.text-size-14 {
  font-size: 1.4em;
}

.text-size-15 {
  font-size: 1.5em;
}

.text-bolder {
  font-weight: bolder;
}

.text-center {
  text-align: center;
}

.text-lighter {
  font-weight: lighter;
}

.line-height-3 {
  line-height: 3em;
}

.text-white {
  color: $colour-white;
}

.shadow {
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.08);

  &:hover {
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.12);
  }
}

.shadow-top-bottom {
  box-shadow: inset 1px 5px 10px rgba(0, 0, 0, 0.1);
}

.btn {
  &-cta {
    width: 200px;
    height: 50px;
    margin-bottom: 2em;
    background-image: linear-gradient(to bottom, $colour-pink 0%, $colour-purple 100%);
    border-radius: 25px;

    &:hover {
      cursor: pointer;
      opacity: 90%;
    }
  }

  &-process {
    width: 325px;
    height: 75px;
    margin: 0.5em;
    border-radius: 20px;

    &:last-child {
      margin-bottom: 4em;
    }

    &:hover {
      background: rgba($colour-purple, 0.1);

      .text-purple {
        color: $colour-purple;
      }
    }

    &__round-purple-background {
      width: 26px;
      height: 26px;
      margin-left: -13px;
      background-color: $colour-purple;
      border-radius: 50%;
    }

    &__icon {
      width: 50px;
    }
  }
}

.ft {
  padding: 1.5em;

  &__icon {
    width: 30px;
  }
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.menus-header-overlay {
  position: relative;
  margin-top: -50px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.self-flex-end {
  align-self: flex-end;
}

.loading-spinner {
  width: 1440px;
  height: 100vh;
  background-color: $colour-green;
  animation: spinAnimation 1s ease-out forwards;

  @keyframes spinAnimation {
    0% {
      height: 100vh;
    }

    100% {
      height: 0;
    }
  }
}
